* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.forkme-button {
  margin: 0;
  width: 10vw;
  height: 10vw;
  transition-duration: 0.3s;
}

.forkme-button:hover {
  width: 12vw;
  height: 12vw;
}

#desc {
  display: none;
}

.fork-link {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

a.icon {
  margin: 0.5%;
  padding: 0;
  width: 5% !important;
}

img.icon {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1.5%;
  background-color: #151515;
}

header a {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-select {
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
  max-width: 100%;
}

.game-button {
  background-color: #333333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 3%;
  padding: 6px;
  transition-duration: 0.3s;
  transform: translate(0px, 0px);
}

.game-button img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.game-button a {
  text-decoration: none;
}

.game-button:hover {
  transition-duration: 0.3s;
  transform: translate(0px, -10px);
}

.cursor-pointer {
  cursor: pointer;
}

.hiddenUpload {
  margin: auto;
  text-align: center;

}

.uploadResult {
  margin: auto;
  text-align: center;
}

.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  color: black;
}